body{margin-top:60px}


ul>li, a{cursor: pointer;}

.ng-table tr.emphasis td {
    background-color: #DDD;
    font-weight: bold;
}


.custom {
    background-color: #DDD;
}

.margin-top {
    margin-top:12px;
}

.select2 > .select2-choice.ui-select-match {
    /* Because of the inclusion of Bootstrap */
    height: 29px;
}

.selectize-control > .selectize-dropdown {
    top: 36px;
}

.none {display: none;}
