
<div class="row">

    <form ng-submit="getDomains()">

    <div class="col-md-4">
            <input type="text" class="form-control" id="b"
                   name="inputDomain" ng-model="inputDomain"  placeholder="e.g. google.ch">
    </div>
    <div class="col-md-4">
        <input class="btn btn-default" type="submit" id="submit" value="Submit" />
    </div>

    </form>
</div>

<div class="row">
    <div class="col-md-4">
        &nbsp;
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div ng-show="loading" class="loading">Loading</div>

        <table class="table table-condensed maintable" data-show-header="false">
            <tr ng-repeat-start='domain in domains'>
                <th rowspan="{{domain.ipaddr.length}}">{{domain.domain}}</th>
                <th rowspan="{{domain.ipaddr.length}}"> WHOIS </td>
                <td>{{domain.ipaddr[0].ipaddr}}</td>
                <td>{{domain.ipaddr[0].asn}} {{domain.ipaddr[0].asnowner}}</td>
                <td>{{domain.ipaddr[0].badactor}}</td>
            </tr>
            <tr ng-repeat-end ng-repeat='ip in domain.ipaddr' ng-hide="$first">

                <td>{{ip.ipaddr}}</td>
                <td>{{ip.asn}} {{ip.asnowner}}</td>
                <td>{{ip.badactor}}</td>
            </tr>

        </table>
    </div>
</div>
